<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<nav class="navbar  navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">
        <strong> <span th:text="${authUser.name}"></span></strong> with roles: <span
            th:text="${authUser.stringRoles}"></span> </a>
    <a class="nav-item " href="/logout">Logout</a>
</nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 mt-2 bg-light">
            <!-- Content here -->
            <nav class="d-none d-sm-block sidebar ">
                <!-- Content here -->
                <nav class="sidebar">
                    <ul class="nav nav-pills nav-fill flex-column">
                        <li class="nav-item">
                            <a class="nav-link  active"
                               href="/admin/main">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">User</a>
                        </li>
                    </ul>
                </nav>
                <div class="col mt-3">
                </div>
            </nav>

        </div>

        <div class="col-sm bg-green">
            <h1 class="h3 ml-3 mb-3 mt-2 font-bold"> Admin Panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Add User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>City</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="person : ${listz}">
                            <td th:utext="${person.getName()}">...</td>
                            <td th:utext="${person.getCity()}">...</td>
                            <td th:utext="${person.getLogin()}">...</td>
                            <td th:utext="${person.getPassword()}">...</td>
                            <td th:utext="${person.getStringRoles()}">...</td>
                            <td>
                                <!-- Trigger the modal with a button -->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        th:attr="data-target='#editModal-'+${person.id}">
                                    Edit
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='editModal-'+${person.id}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="deleteModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form action="#" th:action="@{'/admin/edit'}" th:name="person"
                                                  method="post">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        th:attr="id='editModal-'+${person.id}">Edit
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">x</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group text-center">
                                                        <label for="nam0" class="center-block">
                                                            <span class="font-weight-bold">Name</span>
                                                        </label>
                                                        <input type="text"
                                                               class="form-control collection-ville text-center"
                                                               id="nam0"
                                                               name="name"
                                                               th:value="${person.name}">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="city0" class="center-block">
                                                            <span class="font-weight-bold">City</span>
                                                        </label>
                                                        <input type="text"
                                                               class="form-control collection-ville text-center"
                                                               id="city0"
                                                               name="City" th:value="${person.city}">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="email10" class="center-block">
                                                            <span class="font-weight-bold">Email</span>
                                                        </label>
                                                        <input type="email"
                                                               class="form-control collection-ville text-center"
                                                               id="email10"
                                                               name="Login" th:value="${person.login}">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="password0" class="center-block">
                                                            <span class="font-weight-bold">Password</span>
                                                        </label>
                                                        <input type="password"
                                                               class="form-control collection-ville text-center"
                                                               id="password0"
                                                               name="Password" th:value="${person.password}">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="rolez0" class="center-block">
                                                            <span class="font-weight-bold">Role</span>
                                                        </label>
                                                        <select id="rolez0" class="form-control custom-select" size="2"
                                                                th:name="newRoles"
                                                                multiple="multiple">
                                                            <option value="USER">USER</option>
                                                            <option value="ADMIN">ADMIN</option>
                                                            <option value="ADMIN,USER">ADMIN,USER</option>
                                                        </select>
                                                        <input name="id" type="hidden"
                                                               th:value="${person.id}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button class="btn btn-primary" type="submit"
                                                                name="edit"
                                                                value="edit">edit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- Trigger the modal with a button -->

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        th:attr="data-target='#deleteModal-'+${person.id}">
                                    Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='deleteModal-'+${person.id}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="deleteModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form action="#" th:action="@{'/admin/delete'}" th:name="person"
                                                  method="post">

                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        th:attr="id='deleteModal-'+${person.id}">Delete
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">x</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group text-center">
                                                        <label for="nam1" class="center-block">
                                                            <span class="font-weight-bold">Name</span>
                                                        </label>
                                                        <input type="text"
                                                               class="form-control text-center"
                                                               id="nam1"
                                                               name="name"
                                                               th:value="${person.name}" readonly="readonly">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="city1" class="center-block">
                                                            <span class="font-weight-bold">City</span>
                                                        </label>
                                                        <input type="text"
                                                               class="form-control text-center"
                                                               id="city1"
                                                               name="City" th:value="${person.city}"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="email11" class="center-block">
                                                            <span class="font-weight-bold">Email</span>
                                                        </label>
                                                        <input type="email"
                                                               class="form-control text-center"
                                                               id="email11"
                                                               name="Login" th:value="${person.login}"
                                                               readonly="readonly">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label for="rolez" class="center-block">
                                                            <span class="font-weight-bold">Role</span>
                                                        </label>
                                                        <select id="rolez" class="form-control custom-select" size="2"
                                                                th:name="newRoles"
                                                                multiple="multiple" readonly="readonly">
                                                            <option value="USER" readonly="readonly">USER</option>
                                                            <option value="ADMIN" readonly="readonly">ADMIN</option>
                                                            <option value="ADMIN,USER" readonly="readonly">ADMIN,USER
                                                            </option>
                                                        </select>
                                                        <input name="id" type="hidden"
                                                               th:value="${person.id}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button class="btn btn-danger" type="submit"
                                                                name="delete"
                                                                value="delete">delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <h1>add form</h1>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-5 ">
                            <div class="container text-center">
                                <form action="#" th:action="@{/admin/add}" th:object="${user}" method="post"
                                      align="center">
                                    <div class="form-group">
                                        <label for="exampleInputName" class=" font-weight-bold">Name</label>
                                        <input type="text" th:field="*{name}" class="form-control" id="exampleInputName"
                                               aria-describedby="nameHelp" placeholder="Enter your name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputCity" class=" font-weight-bold">City</label>
                                        <input type="text" th:field="*{city}" class="form-control" id="exampleInputCity"
                                               aria-describedby="cityHelp" placeholder="Enter your city">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail" class=" font-weight-bold">Email</label>
                                        <input type="email" th:field="*{login}" class="form-control"
                                               id="exampleInputEmail"
                                               aria-describedby="cityHelp" placeholder="Enter your Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword" class=" font-weight-bold">Password</label>
                                        <input type="password" th:field="*{password}" class="form-control"
                                               id="exampleInputPassword"
                                               aria-describedby="passwordHelp" placeholder="Enter your Password">
                                    </div>
                                    <label for="role" class=" font-weight-bold">Roles:</label>
                                    <select class="form-control custom-select" size="2" id="role"
                                            th:name="newRoles"
                                            multiple="multiple">
                                        <option value="USER">USER</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="ADMIN,USER">ADMIN,USER</option>
                                    </select>
                                    <button type="submit" class="btn btn-success ">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>