<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">
        <strong><span th:text="${authUser.name}"></span></strong> with roles: <span
            th:text="${authUser.stringRoles}"></span> </a>
    <a class="nav-item nav-link " href="/logout">Logout</a>
</nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 mt-2 bg-light">
            <!-- Content here -->
            <nav class="sidebar">
                <ul class="nav nav-pills nav-fill flex-column">
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="/admin/main">Admin</a>
                        </li>
                    </div>

                    <li class="active">
                        <a class="nav-link active" href="/user">User</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm bg-light">
            <h1 class="h3 ml-3 mb-3 mt-2 font-bold"> User information-page</h1>


            <a class="h4 ml-3 " id="home-tab" data-toggle="tab"
               aria-controls="home" aria-selected="true"> About user</a>


            <div class="col mt-3">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${listz}">
                        <td th:utext="${person.getName()}">...</td>
                        <td th:utext="${person.getCity()}">...</td>
                        <td th:utext="${person.getLogin()}">...</td>
                        <td th:utext="${person.getPassword()}">...</td>
                        <td th:utext="${person.getStringRoles()}">...</td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>